certifi==2021.5.30
charset-normalizer==2.0.4
cycler==0.10.0
dominate==2.6.0
idna==3.2
imageio==2.9.0
jsonpatch==1.32
jsonpointer==2.1
kiwisolver==1.3.2
matplotlib==3.4.3
networkx==2.6.2
numpy
olefile==0.46
opencv-python==4.5.3.56
pyparsing==2.4.7
python-dateutil==2.8.2
PyWavelets==1.1.1
pyzmq==22.2.1
scikit-image==0.18.3
scipy==1.7.1
tifffile==2021.8.30
torch==1.9.0
torchvision==0.10.0
urllib3==1.26.6
visdom==0.1.8.9
websocket-client==1.2.1
